@model Tracker.Models.Ticket



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" style="background-color:aquamarine !important">Description of Ticket</h4>

    <div class="modal-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
               
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                @*<div class="form-group" style="align-content:center !important">
                    @Html.Label("AssignedToUser:")
                    <br />
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.AssignedToUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>*@


                <div class="form-group" style="align-content:center !important">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                   <br />
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group" style="align-content:center !important">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <div class="col-md-10">
                        @Html.Raw(Model.Description)
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="align-content:center !important">
                    @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <div class="col-md-10">
                        @Model.Created.DateTime.ToLongDateString()
                         @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                    </div>
                </div>

               
                
            </div>
        }


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




